<main class="main">
  <header class="flex items-center justify-center py-16 gap-20">
    <component-part [part]="part" />
    <form class="flex flex-col gap-2 text-center" [formGroup]="editPart()">
      <input type="text" class="input" placeholder="Nome" formControlName="name">
      <input type="number" class="input" placeholder="Ano" formControlName="price">
      <input type="number" class="input" placeholder="Ano" formControlName="stock">
      <input type="text" class="input" placeholder="Modelo" formControlName="barcode">
      <input type="url" class="input" placeholder="Imagem Url" formControlName="imageUrl">
      <button class="btn_update" (click)="updatePart(this.partId())">
        Editar
      </button>
      <button
        class="btn_remove"
        (click)="deletePart(partId())">
        Deletar
      </button>
    </form>
  </header>
</main>
