<main class="main">
  <header class="flex items-center justify-center py-16 gap-20">
    <component-part [part]="part" />
    <form class="flex flex-col gap-2 text-center" [formGroup]="editPart()">
      <input type="text" class="input" placeholder="Nome" formControlName="name">
      <input type="number" class="input" placeholder="Ano" formControlName="price">
      <input type="number" class="input" placeholder="Ano" formControlName="stock">
      <input type="text" class="input" placeholder="Modelo" formControlName="barcode">
      <input type="url" class="input" placeholder="Imagem Url" formControlName="imageUrl">
      <button class="bg-yellow-600 rounded-lg px-4 py-2 font-bold text-white hover:bg-yellow-100 hover:text-yellow-800 duration-150" (click)="updatePart(this.partId())">
        Editar
      </button>
      <button
        class="bg-red-400 px-4 py-2 rounded-lg font-bold hover:bg-red-100 hover:text-red-800 duration-150"
        (click)="deletePart(partId())">
        Deletar
      </button>
    </form>
  </header>
</main>
