<main class="main">
  <section class="flex flex-col items-center gap-10">
    <form class="flex md:flex-col gap-10 items-center" [formGroup]="newPart()">
      <input type="text" class="input" placeholder="Nome" formControlName="name">
      <select formControlName="brandId" class="input">
        @for (item of brands; track $index) {
          <option [value]="item.id" class="bg-white text-black">{{ item.name }}</option>
        }
      </select>
      <input type="number" class="input" placeholder="Peço" formControlName="price">
      <input type="text" class="input" placeholder="Barcode" formControlName="barcode">
      <input type="url" class="input" placeholder="Imagem Url" formControlName="imageUrl">
      <button class="btn_create" [disabled]="newPart().invalid" (click)="createPart()">Criar veículo</button>
    </form>
    <section class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-10">
      @for (item of parts().items; track $index) {
        <component-part [part]="item" />
      }
    </section>
    <section class="flex gap-10 items-center">
      <button class="px-4 py-2 bg-blue-400 rounded-lg text-blue-900 font-bold" (click)="previousPage()" [hidden]="page() === 1">Anterior</button>
      <button class="px-4 py-2 bg-blue-400 rounded-lg text-blue-900 font-bold" (click)="nextPage()" [hidden]="parts().pages === page()">Próxima</button>
    </section>
  </section>
</main>
