<main class="main gap-10">
  <Section>
    <h1>Teste técnico para peça.ai</h1>
    <br>
    <ul>
      <li>
        <strong>desafio:</strong> criar um CRUD de peças e veículos
      </li>
      <li>
        <strong>tecnologias:</strong> Angular 18, TailwindCSS, Express, SQLite
    </ul>
  </Section>
  <Section class="flex flex-col items-center gap-10">
    <h1>Componentes</h1>
    <component-brand [brand]="exempleBrand" />
    <component-vehicle [vehicle]="exempleVehicle" />
    <component-part [part]="exemplePart" />
  </Section>
</main>
